.grid {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  justify-content: center;
  margin-top: 100px;
}

.grid > div {
  width: 50px;
  height: 50px;
  border: 3px solid black;
}

.beigebg {
  background-color: beige;
}
